*{
    margin: 0;
    padding: 0;
}
.wrapper{
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.wrapper a{
    text-decoration: none;
}
.logo{
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 16px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    margin-left: 30px;
}
.logo a{
    color:#333;
}
.logo_margin{
    margin-left: .7em;
}
.color_io{
    color: #8d81ac;
}
.vavigtion li{
    list-style-type: none;
    display: inline-block;
    padding: 47px 0 41px 0;
    color: #635c73;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 15px; 
}
.vavigtion li + li{
    margin-left: 2.8em;
}
.vavigtion li:last-child{
    padding: 13px 37px 9px 37px;
    background-color: #8d81ac;
    border-radius: 2em;
    margin-right: 15px;
}
.last_color{
    color: #fff;
}
.bg_image{
    max-width: 1380px;
    height: 800px;
    background-image: url(../img/bg_top.png);
    background-repeat: no-repeat;
    background-position:center;
    margin: 0 auto;
}
.main_wrapper{
    max-width: 1170px;
    margin: 0 auto;
}
.section_forkapp{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.section_forkapp h1{
    padding-top: 108px;
    margin: 0;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 82px;
    font-weight: 700;
}
.subtitle_one{
    color: #8d81ac;
    font-family: Lato;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 30px;
    padding: 18px 0;

}
.subtitle_two{
 
    color: #848e97;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}
.btn_downloatd{
    text-align: center;
    margin-top: 518px;
}
.btn_downloatd a{
    text-decoration: none;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 21px;
    font-weight: 700;
    padding: 23px 66px 23px 66px;
    color: #fff;
    background-color: #8d81ac;
    border-radius: 2em;
}
.revolutionary_editor{
    text-align: center;
}
.download_subtitle{
    display: block;
    color: #848e97;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    margin-top: 55px;
}
.revolutionary_editor h2{
    color: #635c73;
    font-family: 'Montserrat', sans-serif;
    font-size: 54px;
    font-weight: 700;
    margin-top: 66px;
    text-transform: uppercase;
}
.revolutionary_editor_content{
    display: block;
    opacity: 0.8;
    color: #323232;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 21px;
    font-weight: 400;
    margin-top: 39px;
    line-height: 32px;
}
.bg_color{
    background-color: #f4f4f4;
    max-width: 1380px;
    margin: 0 auto;
}
.list_flex{
    display: flex;
    justify-content: space-between;
    padding-top: 84px;
}
.main_wrapper li {
    list-style-type: none;
}
.list{
    display: flex;
}
.list + .list{
    margin-top: 35px;
}
.creatred_margin{
    margin-left: 24px;
}
.incredibly{
    margin-left: 44px;
}
.experimental{
    margin-left: 59px;
}
.creatredtomake{
    margin-left: 53px;
}
.experimenta img{
    margin-left: 10px;
}
.list h3{
    color: #323232;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;
}
.list span{
    color: #848e97;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    margin-top: 15px;
}
.list:last-child{
    padding-bottom: 69px;
}
.hereis h2{
    color: #8d81ac;
    font-family: 'Montserrat', sans-serif;
    font-size: 38px;
    font-weight: 700;
    line-height: 20.45px;
}
.hell_fork {
    position: absolute;
    margin-top: 49px;
}
.wrapper_stevan__streng{
    display: flex;
    justify-content: center;
    margin-top: 87px;
}
.name_usirpic{
    margin-left: 23px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.name_usirpic h3{
    color: #635c73;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
}
.name_usirpic span{
    color: #8d81ac;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
}
.scrol_span{
    text-align: center;
    margin-top: 48px;
}
.arrow_left{
    color: #474747;
    opacity: 0.5;
    font-size: 30px;
    font-weight: bold;
}
.aroww_content{
    color: #333333;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    padding: 0 103px;
}
.pixelbuddha{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    color: #8d81ac;
}
.next_text{
    text-align: center;
    color: #333333;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}
.subtitle_next_text{
    text-align: center;
    color: #848e97;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
}
.line_centre{
    display: flex;
    justify-content: center;
}
.line_steven{
    display: block;
    width: 780px;
    height: 1px;
    background-color: #c7c7c7;
    opacity: 0.2;
    margin-top: 56px;
    margin-bottom: 56px;
}
.github{
    text-decoration: none;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-size: 21px;
    font-weight: 400;
    line-height: 32px;
    background-color: #f3f3f3;
    padding: 16px 84px 16px 44px;
    border-radius: 5px;
    max-width: 270px;

}
.github span{
    padding-left: 40px ;
    font-family: 'Montserrat', sans-serif;
}
.btn{
    display: flex;
    justify-content: center;
}
.btn p {
    text-align: center;
}
.btn li + li{
    margin-left: 40px;
}
.btn_wtitter{
    text-decoration: none;
    color: #fff ;
    font-family: 'Montserrat', sans-serif;
    font-size: 21px;
    font-weight: 400;
    line-height: 32px;
    background-color: #26a6d1;
    padding: 16px 84px 16px 44px;
    border-radius: 5px;
    max-width: 270px;
}
.btn_wtitter span{
    padding-left: 40px ;
    font-family: 'Montserrat', sans-serif;
}
.btn_facebook{
    text-decoration: none;
    color: #fff ;
    font-family: 'Montserrat', sans-serif;
    font-size: 21px;
    font-weight: 400;
    line-height: 32px;
    background-color: #3b5998;
    padding: 16px 84px 16px 44px;
    border-radius: 5px;
    max-width: 270px;
}
.btn_facebook span{
    padding-left: 40px ;
    font-family: 'Montserrat', sans-serif;
}
.subtitle_btn{
    margin-top: 18px;
    color: #848e97;
    font-family: 'Montserrat', sans-serif;  
    font-size: 14px;
    font-weight: 400;
    line-height: 32px;
}
.bg_people{
    background-image: url(../img/bg_people.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 764px;
}
.bg_people h2{
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;  
    font-size: 48px;
    font-weight: 700;
    line-height: 20.45px;
    text-align: center;
    padding-top: 100px;
    margin-top: 79px;
}
.ordered_list{
    margin-top: 90px;
    display: flex;
    justify-content: center;
    
}
.smashing{
    display: flex;
    flex-direction: column;
    max-width: 326px;
}
.smashing_img{
    text-align: center;
}
.smashing + .smashing{
    margin-left: 62px;
}
.smashingt{
    margin-top: 37px;
    text-align: center;
    color: #ffffff;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    font-style: italic;
}
.codrosp{
    margin-top: 33px;
    text-align: center;
    color: #ffffff;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    font-style: italic;
}
.w_text{
    margin-top: 20px;
    text-align: center;
    color: #ffffff;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    font-style: italic;
}
.bg_fork{
    margin: 0 auto;
    max-width: 1380px;
    background-image: url(../img/bg_fork.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 872px;
    margin-top: -250px;
}
.lists h2{
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 20.45px;
    padding-top: 200px;
    text-align: center;
}
.student_title{
    width: 257px;
    height: 97px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color:#685b6a;
}
.list_m{
    margin-top: 120px;
    display: flex;
    justify-content: center;
}
.student_title a{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: #ffffff;
    font-weight: 400;
    line-height: 20.45px;
    text-transform: uppercase;
}
.student_content{
    width: 257px;
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #605263;
}
.sep{
    width: 60px;
    height: 5px;
    background-color: #8d81ac;
}
.dolar{
    width: 107px;
    height: 51px;
    color: #ffffff;
    font-size: 60px;
    font-weight: 700;
    line-height: 90.28px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
.per_month{
    opacity: 0.3;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 90.28px;
    text-transform: uppercase;
}
.personal{
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    margin-top: 31px;
    text-align: center;
}
.student_btn{
    margin-top: 67px;
}
.student_btn a{
    text-decoration: none;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 20.45px;
    text-transform: uppercase;
    padding: 16px 38px 14px 38px;
    background-color: #7d6e7c;
    border-radius: 2em;
}
.student + .student{
    margin-left: 13px;
}
/* .student_title:hover{
    width: 299px;
    height: 111px;
    background-color: #392d3d;

}
.student_content:hover{
    width: 299px;
    height: 499px;
    background-color:#413445;
} */
.professional_btn{
    margin-top: 36px;
}
.professional_btn a{
    text-decoration: none;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 20.45px;
    text-transform: uppercase;
    padding: 16px 38px 14px 38px;
    background-color: #7d6e7c;
    border-radius: 2em;
}
.text_list{
    color: #a291a5;
    font-family: "Source Sans Pro";
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    margin-top: 20px;
}
.bg_subscribe{
    height: 134px;
    background-color: #f4f4f4;
}
.subscribe{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.subscribe h2{
    color: #635c73;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 60px;
}
.input_email{
    border:none;
    background-image:none;
    background-color:#FFF;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-radius: 2em;
    margin-left: 180px;
}
.subscribe a{
    text-decoration: none;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 17px;
    text-transform: uppercase;
    padding: 16px 36px;
    background-color: #8d81ac;
    border-radius: 2em;
    margin-left: 20px;
}